<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ARookieT</title>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet" type="text/css">
    <link rel="stylesheet prefetch" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="../resources/css/login.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="mask">
      <div class="modal">
        <div class="login">
          <!-- <p class="logo"><a href="/"><img src="../images/MainLogo2.png" alt="Logo" class="logoimg"></a></p> -->
          <p style="text-align:center; font-size:30px; margin-top:50px;">LOGO</p>
          <form action="/login" method="post">
            <input type="username" name="username" placeholder="username" required="required">
            <input type="password" name="password" placeholder="Password" required="required">
            <button type="submit" class="btn btn-primary btn-block btn-large btn-login">Login</button>
          </form><a href="/sign_up">
            <button class="btn btn-primary btn-large btn-sign-up">Sign up</button></a><a href="/auth/kakao">
            <!-- <button class="btn btn-primary btn-large Kakao">Kakao Login</button></a><a href="/auth/facebook">
            <button class="btn btn-primary btn-large Facebook">Facebook Login</button></a> -->
        </div>
      </div>
    </div>
  <div class="vertical vertical0">
    <div class="horizontal horizontal000" style="background: url(../images/artworks/작품1.jpg)"></div>
    <div class="horizontal horizontal001" style="background: url(../images/artworks/작품2.jpg)"></div>
    <div class="horizontal horizontal002" style="background: url(../images/artworks/작품3.jpg)"></div>
    <div class="horizontal horizontal003" style="background: url(../images/artworks/작품4.jpg)"></div>
    <div class="horizontal horizontal004" style="background: url(../images/artworks/작품5.jpg)"></div>
    <div class="horizontal horizontal005" style="background: url(../images/artworks/작품6.jpg)"></div>
    <div class="horizontal horizontal006" style="background: url(../images/artworks/작품7.jpg)"></div>
    <div class="horizontal horizontal007" style="background: url(../images/artworks/작품8.jpg)"></div>
    <div class="horizontal horizontal008" style="background: url(../images/artworks/작품9.jpg)"></div>
    <div class="horizontal horizontal010" style="background: url(../images/artworks/작품10.jpg)"></div>
    <div class="horizontal horizontal011" style="background: url(../images/artworks/작품11.jpg)"></div>
    <div class="horizontal horizontal012" style="background: url(../images/artworks/작품12.jpg)"></div>
    <div class="horizontal horizontal013" style="background: url(../images/artworks/작품13.jpg)"></div>
    <div class="horizontal horizontal014" style="background: url(../images/artworks/작품14.jpg)"></div>
    <div class="horizontal horizontal015" style="background: url(../images/artworks/작품15.jpg)"></div>
  </div>
  <div class="vertical vertical1">
    <div class="horizontal horizontal100" style="background: url(../images/artworks/작품1.jpg)"></div>
    <div class="horizontal horizontal101" style="background: url(../images/artworks/작품2.jpg)"></div>
    <div class="horizontal horizontal102" style="background: url(../images/artworks/작품3.jpg)"></div>
    <div class="horizontal horizontal103" style="background: url(../images/artworks/작품4.jpg)"></div>
    <div class="horizontal horizontal104" style="background: url(../images/artworks/작품5.jpg)"></div>
    <div class="horizontal horizontal105" style="background: url(../images/artworks/작품6.jpg)"></div>
    <div class="horizontal horizontal106" style="background: url(../images/artworks/작품7.jpg)"></div>
    <div class="horizontal horizontal107" style="background: url(../images/artworks/작품8.jpg)"></div>
    <div class="horizontal horizontal108" style="background: url(../images/artworks/작품9.jpg)"></div>
    <div class="horizontal horizontal110" style="background: url(../images/artworks/작품10.jpg)"></div>
    <div class="horizontal horizontal111" style="background: url(../images/artworks/작품11.jpg)"></div>
    <div class="horizontal horizontal112" style="background: url(../images/artworks/작품12.jpg)"></div>
    <div class="horizontal horizontal113" style="background: url(../images/artworks/작품13.jpg)"></div>
    <div class="horizontal horizontal114" style="background: url(../images/artworks/작품14.jpg)"></div>
    <div class="horizontal horizontal115" style="background: url(../images/artworks/작품15.jpg)"></div>
  </div>
  <div class="vertical vertical2">
    <div class="horizontal horizontal200" style="background: url(../images/artworks/작품1.jpg)"></div>
    <div class="horizontal horizontal201" style="background: url(../images/artworks/작품2.jpg)"></div>
    <div class="horizontal horizontal202" style="background: url(../images/artworks/작품3.jpg)"></div>
    <div class="horizontal horizontal203" style="background: url(../images/artworks/작품4.jpg)"></div>
    <div class="horizontal horizontal204" style="background: url(../images/artworks/작품5.jpg)"></div>
    <div class="horizontal horizontal205" style="background: url(../images/artworks/작품6.jpg)"></div>
    <div class="horizontal horizontal206" style="background: url(../images/artworks/작품7.jpg)"></div>
    <div class="horizontal horizontal207" style="background: url(../images/artworks/작품8.jpg)"></div>
    <div class="horizontal horizontal208" style="background: url(../images/artworks/작품9.jpg)"></div>
    <div class="horizontal horizontal210" style="background: url(../images/artworks/작품10.jpg)"></div>
    <div class="horizontal horizontal211" style="background: url(../images/artworks/작품11.jpg)"></div>
    <div class="horizontal horizontal212" style="background: url(../images/artworks/작품12.jpg)"></div>
    <div class="horizontal horizontal213" style="background: url(../images/artworks/작품13.jpg)"></div>
    <div class="horizontal horizontal214" style="background: url(../images/artworks/작품14.jpg)"></div>
    <div class="horizontal horizontal215" style="background: url(../images/artworks/작품15.jpg)"></div>
  </div>
  <script src="../resources/js/login.js"></script>

</body>

</html>
